@charset "UTF-8";
/* ===============================================

  ■ Utility(サードレイヤー) (MCSS:Cosmetic)
    ※汎用スタイル
  
  --------------------------------------------

  ■ 命名規則 BEM + MCSS
  
    block     block
    element   block_element
    modifier  block_element.__modifier
    
    ※状態を表すものはprefixをつける is-, has-, not-...
    
  --------------------------------------------
  
  ■ Index
  
    ・General-purpose 汎用クラス


=============================================== */
/* Font Size フォントサイズ
---------------------------*/
/* General-purpose 汎用クラス
=============================================== */
.w100 {
  width: 100% !important; }

.red {
  color: #e60012; }

.strong {
  font-weight: bold; }

.dB { display: block; }
.dIb { display: inline-block; }
.fL { float: left; }
.fR { float: right; }

/* PCのみ */
@media screen and (min-width: 768px) {
  .fL.__pc { float: left; }
  .fR.__pc { float: right; }
  .fL.__sp, .fR.__sp { float: none; } }

/* SPのみ */
@media screen and (max-width: 767px) {
  .fL.__sp { float: left; }
  .fR.__sp { float: right; }
  .fL.__pc, .fR.__pc { float: none; } }
  .clearfix { *zoom: 1; }
  .clearfix:after { content: ''; display: table; clear: both; }

  .taC { text-align: center !important; }
  .taL { text-align: left !important; }
  .taR { text-align: right !important; }

/* margin padding */
.mT0 {
  margin-bottom: 0 !important; }

.mR0 {
  margin-bottom: 0 !important; }

.mL0 {
  margin-bottom: 0 !important; }

.mB0 {
  margin-bottom: 0 !important; }

.pT0 {
  padding-bottom: 0 !important; }

.pR0 {
  padding-bottom: 0 !important; }

.pL0 {
  padding-bottom: 0 !important; }

.pB0 {
  padding-bottom: 0 !important; }

.mT5 {
  margin-top: 5px !important; }

.mR5 {
  margin-right: 5px !important; }

.mL5 {
  margin-left: 5px !important; }

.mB5 {
  margin-bottom: 5px !important; }

.pT5 {
  padding-top: 5px !important; }

.pR5 {
  padding-right: 5px !important; }

.pL5 {
  padding-left: 5px !important; }

.pB5 {
  padding-bottom: 5px !important; }

.mT10 {
  margin-top: 10px !important; }

.mR10 {
  margin-right: 10px !important; }

.mL10 {
  margin-left: 10px !important; }

.mB10 {
  margin-bottom: 10px !important; }

.pT10 {
  padding-top: 10px !important; }

.pR10 {
  padding-right: 10px !important; }

.pL10 {
  padding-left: 10px !important; }

.pB10 {
  padding-bottom: 10px !important; }

.mT15 {
  margin-top: 15px !important; }

.mR15 {
  margin-right: 15px !important; }

.mL15 {
  margin-left: 15px !important; }

.mB15 {
  margin-bottom: 15px !important; }

.pT15 {
  padding-top: 15px !important; }

.pR15 {
  padding-right: 15px !important; }

.pL15 {
  padding-left: 15px !important; }

.pB15 {
  padding-bottom: 15px !important; }

.mT20 {
  margin-top: 20px !important; }

.mR20 {
  margin-right: 20px !important; }

.mL20 {
  margin-left: 20px !important; }

.mB20 {
  margin-bottom: 20px !important; }

.pT20 {
  padding-top: 20px !important; }

.pR20 {
  padding-right: 20px !important; }

.pL20 {
  padding-left: 20px !important; }

.pB20 {
  padding-bottom: 20px !important; }

.mT25 {
  margin-top: 25px !important; }

.mR25 {
  margin-right: 25px !important; }

.mL25 {
  margin-left: 25px !important; }

.mB25 {
  margin-bottom: 25px !important; }

.pT25 {
  padding-top: 25px !important; }

.pR25 {
  padding-right: 25px !important; }

.pL25 {
  padding-left: 25px !important; }

.pB25 {
  padding-bottom: 25px !important; }

.mT30 {
  margin-top: 30px !important; }

.mR30 {
  margin-right: 30px !important; }

.mL30 {
  margin-left: 30px !important; }

.mB30 {
  margin-bottom: 30px !important; }

.pT30 {
  padding-top: 30px !important; }

.pR30 {
  padding-right: 30px !important; }

.pL30 {
  padding-left: 30px !important; }

.pB30 {
  padding-bottom: 30px !important; }

.mT35 {
  margin-top: 35px !important; }

.mR35 {
  margin-right: 35px !important; }

.mL35 {
  margin-left: 35px !important; }

.mB35 {
  margin-bottom: 35px !important; }

.pT35 {
  padding-top: 35px !important; }

.pR35 {
  padding-right: 35px !important; }

.pL35 {
  padding-left: 35px !important; }

.pB35 {
  padding-bottom: 35px !important; }

.mT40 {
  margin-top: 40px !important; }

.mR40 {
  margin-right: 40px !important; }

.mL40 {
  margin-left: 40px !important; }

.mB40 {
  margin-bottom: 40px !important; }

.pT40 {
  padding-top: 40px !important; }

.pR40 {
  padding-right: 40px !important; }

.pL40 {
  padding-left: 40px !important; }

.pB40 {
  padding-bottom: 40px !important; }

.mT45 {
  margin-top: 45px !important; }

.mR45 {
  margin-right: 45px !important; }

.mL45 {
  margin-left: 45px !important; }

.mB45 {
  margin-bottom: 45px !important; }

.pT45 {
  padding-top: 45px !important; }

.pR45 {
  padding-right: 45px !important; }

.pL45 {
  padding-left: 45px !important; }

.pB45 {
  padding-bottom: 45px !important; }

.mT50 {
  margin-top: 50px !important; }

.mR50 {
  margin-right: 50px !important; }

.mL50 {
  margin-left: 50px !important; }

.mB50 {
  margin-bottom: 50px !important; }

.pT50 {
  padding-top: 50px !important; }

.pR50 {
  padding-right: 50px !important; }

.pL50 {
  padding-left: 50px !important; }

.pB50 {
  padding-bottom: 50px !important; }

.mT55 {
  margin-top: 55px !important; }

.mR55 {
  margin-right: 55px !important; }

.mL55 {
  margin-left: 55px !important; }

.mB55 {
  margin-bottom: 55px !important; }

.pT55 {
  padding-top: 55px !important; }

.pR55 {
  padding-right: 55px !important; }

.pL55 {
  padding-left: 55px !important; }

.pB55 {
  padding-bottom: 55px !important; }

.mT60 {
  margin-top: 60px !important; }

.mR60 {
  margin-right: 60px !important; }

.mL60 {
  margin-left: 60px !important; }

.mB60 {
  margin-bottom: 60px !important; }

.pT60 {
  padding-top: 60px !important; }

.pR60 {
  padding-right: 60px !important; }

.pL60 {
  padding-left: 60px !important; }

.pB60 {
  padding-bottom: 60px !important; }

.mT65 {
  margin-top: 65px !important; }

.mR65 {
  margin-right: 65px !important; }

.mL65 {
  margin-left: 65px !important; }

.mB65 {
  margin-bottom: 65px !important; }

.pT65 {
  padding-top: 65px !important; }

.pR65 {
  padding-right: 65px !important; }

.pL65 {
  padding-left: 65px !important; }

.pB65 {
  padding-bottom: 65px !important; }

.mT70 {
  margin-top: 70px !important; }

.mR70 {
  margin-right: 70px !important; }

.mL70 {
  margin-left: 70px !important; }

.mB70 {
  margin-bottom: 70px !important; }

.pT70 {
  padding-top: 70px !important; }

.pR70 {
  padding-right: 70px !important; }

.pL70 {
  padding-left: 70px !important; }

.pB70 {
  padding-bottom: 70px !important; }

.mT75 {
  margin-top: 75px !important; }

.mR75 {
  margin-right: 75px !important; }

.mL75 {
  margin-left: 75px !important; }

.mB75 {
  margin-bottom: 75px !important; }

.pT75 {
  padding-top: 75px !important; }

.pR75 {
  padding-right: 75px !important; }

.pL75 {
  padding-left: 75px !important; }

.pB75 {
  padding-bottom: 75px !important; }

.mT80 {
  margin-top: 80px !important; }

.mR80 {
  margin-right: 80px !important; }

.mL80 {
  margin-left: 80px !important; }

.mB80 {
  margin-bottom: 80px !important; }

.pT80 {
  padding-top: 80px !important; }

.pR80 {
  padding-right: 80px !important; }

.pL80 {
  padding-left: 80px !important; }

.pB80 {
  padding-bottom: 80px !important; }

.mT85 {
  margin-top: 85px !important; }

.mR85 {
  margin-right: 85px !important; }

.mL85 {
  margin-left: 85px !important; }

.mB85 {
  margin-bottom: 85px !important; }

.pT85 {
  padding-top: 85px !important; }

.pR85 {
  padding-right: 85px !important; }

.pL85 {
  padding-left: 85px !important; }

.pB85 {
  padding-bottom: 85px !important; }

.mT90 {
  margin-top: 90px !important; }

.mR90 {
  margin-right: 90px !important; }

.mL90 {
  margin-left: 90px !important; }

.mB90 {
  margin-bottom: 90px !important; }

.pT90 {
  padding-top: 90px !important; }

.pR90 {
  padding-right: 90px !important; }

.pL90 {
  padding-left: 90px !important; }

.pB90 {
  padding-bottom: 90px !important; }

.mT95 {
  margin-top: 95px !important; }

.mR95 {
  margin-right: 95px !important; }

.mL95 {
  margin-left: 95px !important; }

.mB95 {
  margin-bottom: 95px !important; }

.pT95 {
  padding-top: 95px !important; }

.pR95 {
  padding-right: 95px !important; }

.pL95 {
  padding-left: 95px !important; }

.pB95 {
  padding-bottom: 95px !important; }

.mT100 {
  margin-top: 100px !important; }

.mR100 {
  margin-right: 100px !important; }

.mL100 {
  margin-left: 100px !important; }

.mB100 {
  margin-bottom: 100px !important; }

.pT100 {
  padding-top: 100px !important; }

.pR100 {
  padding-right: 100px !important; }

.pL100 {
  padding-left: 100px !important; }

.pB100 {
  padding-bottom: 100px !important; }

@media screen and (max-width: 767px) {
  .repletion {
    text-align: center;
    line-height: 3rem; }

  /* 横幅 100% */
  .mT5, .sp-mT5 {
    margin-top: 0.78125% !important; }

  .mB5, .sp-mB5 {
    margin-bottom: 0.78125% !important; }

  .pT5, .sp-pT5 {
    padding-top: 0.78125% !important; }

  .pB5, .sp-pB5 {
    padding-bottom: 0.78125% !important; }

  .mT10, .sp-mT10 {
    margin-top: 1.5625% !important; }

  .mB10, .sp-mB10 {
    margin-bottom: 1.5625% !important; }

  .pT10, .sp-pT10 {
    padding-top: 1.5625% !important; }

  .pB10, .sp-pB10 {
    padding-bottom: 1.5625% !important; }

  .mT15, .sp-mT15 {
    margin-top: 2.34375% !important; }

  .mB15, .sp-mB15 {
    margin-bottom: 2.34375% !important; }

  .pT15, .sp-pT15 {
    padding-top: 2.34375% !important; }

  .pB15, .sp-pB15 {
    padding-bottom: 2.34375% !important; }

  .mT20, .sp-mT20 {
    margin-top: 3.125% !important; }

  .mB20, .sp-mB20 {
    margin-bottom: 3.125% !important; }

  .pT20, .sp-pT20 {
    padding-top: 3.125% !important; }

  .pB20, .sp-pB20 {
    padding-bottom: 3.125% !important; }

  .mT25, .sp-mT25 {
    margin-top: 3.90625% !important; }

  .mB25, .sp-mB25 {
    margin-bottom: 3.90625% !important; }

  .pT25, .sp-pT25 {
    padding-top: 3.90625% !important; }

  .pB25, .sp-pB25 {
    padding-bottom: 3.90625% !important; }

  .mT30, .sp-mT30 {
    margin-top: 4.6875% !important; }

  .mB30, .sp-mB30 {
    margin-bottom: 4.6875% !important; }

  .pT30, .sp-pT30 {
    padding-top: 4.6875% !important; }

  .pB30, .sp-pB30 {
    padding-bottom: 4.6875% !important; }

  .mT35, .sp-mT35 {
    margin-top: 5.46875% !important; }

  .mB35, .sp-mB35 {
    margin-bottom: 5.46875% !important; }

  .pT35, .sp-pT35 {
    padding-top: 5.46875% !important; }

  .pB35, .sp-pB35 {
    padding-bottom: 5.46875% !important; }

  .mT40, .sp-mT40 {
    margin-top: 6.25% !important; }

  .mB40, .sp-mB40 {
    margin-bottom: 6.25% !important; }

  .pT40, .sp-pT40 {
    padding-top: 6.25% !important; }

  .pB40, .sp-pB40 {
    padding-bottom: 6.25% !important; }

  .mT45, .sp-mT45 {
    margin-top: 7.03125% !important; }

  .mB45, .sp-mB45 {
    margin-bottom: 7.03125% !important; }

  .pT45, .sp-pT45 {
    padding-top: 7.03125% !important; }

  .pB45, .sp-pB45 {
    padding-bottom: 7.03125% !important; }

  .mT50, .sp-mT50 {
    margin-top: 7.8125% !important; }

  .mB50, .sp-mB50 {
    margin-bottom: 7.8125% !important; }

  .pT50, .sp-pT50 {
    padding-top: 7.8125% !important; }

  .pB50, .sp-pB50 {
    padding-bottom: 7.8125% !important; }

  .mT55, .sp-mT55 {
    margin-top: 8.59375% !important; }

  .mB55, .sp-mB55 {
    margin-bottom: 8.59375% !important; }

  .pT55, .sp-pT55 {
    padding-top: 8.59375% !important; }

  .pB55, .sp-pB55 {
    padding-bottom: 8.59375% !important; }

  .mT60, .sp-mT60 {
    margin-top: 9.375% !important; }

  .mB60, .sp-mB60 {
    margin-bottom: 9.375% !important; }

  .pT60, .sp-pT60 {
    padding-top: 9.375% !important; }

  .pB60, .sp-pB60 {
    padding-bottom: 9.375% !important; }

  .mT65, .sp-mT65 {
    margin-top: 10.15625% !important; }

  .mB65, .sp-mB65 {
    margin-bottom: 10.15625% !important; }

  .pT65, .sp-pT65 {
    padding-top: 10.15625% !important; }

  .pB65, .sp-pB65 {
    padding-bottom: 10.15625% !important; }

  .mT70, .sp-mT70 {
    margin-top: 10.9375% !important; }

  .mB70, .sp-mB70 {
    margin-bottom: 10.9375% !important; }

  .pT70, .sp-pT70 {
    padding-top: 10.9375% !important; }

  .pB70, .sp-pB70 {
    padding-bottom: 10.9375% !important; }

  .mT75, .sp-mT75 {
    margin-top: 11.71875% !important; }

  .mB75, .sp-mB75 {
    margin-bottom: 11.71875% !important; }

  .pT75, .sp-pT75 {
    padding-top: 11.71875% !important; }

  .pB75, .sp-pB75 {
    padding-bottom: 11.71875% !important; }

  .mT80, .sp-mT80 {
    margin-top: 12.5% !important; }

  .mB80, .sp-mB80 {
    margin-bottom: 12.5% !important; }

  .pT80, .sp-pT80 {
    padding-top: 12.5% !important; }

  .pB80, .sp-pB80 {
    padding-bottom: 12.5% !important; }

  .mT85, .sp-mT85 {
    margin-top: 13.28125% !important; }

  .mB85, .sp-mB85 {
    margin-bottom: 13.28125% !important; }

  .pT85, .sp-pT85 {
    padding-top: 13.28125% !important; }

  .pB85, .sp-pB85 {
    padding-bottom: 13.28125% !important; }

  .mT90, .sp-mT90 {
    margin-top: 14.0625% !important; }

  .mB90, .sp-mB90 {
    margin-bottom: 14.0625% !important; }

  .pT90, .sp-pT90 {
    padding-top: 14.0625% !important; }

  .pB90, .sp-pB90 {
    padding-bottom: 14.0625% !important; }

  .mT95, .sp-mT95 {
    margin-top: 14.84375% !important; }

  .mB95, .sp-mB95 {
    margin-bottom: 14.84375% !important; }

  .pT95, .sp-pT95 {
    padding-top: 14.84375% !important; }

  .pB95, .sp-pB95 {
    padding-bottom: 14.84375% !important; }

  .mT100, .sp-mT100 {
    margin-top: 15.625% !important; }

  .mB100, .sp-mB100 {
    margin-bottom: 15.625% !important; }

  .pT100, .sp-pT100 {
    padding-top: 15.625% !important; }

  .pB100, .sp-pB100 {
    padding-bottom: 15.625% !important; }

  /* 横幅 93.75% */
  .spInner .mT5, .spInner .sp-mT5 {
    margin-top: 0.83333% !important; }
  .spInner .mB5, .spInner .sp-mB5 {
    margin-bottom: 0.83333% !important; }
  .spInner .pT5, .spInner .sp-pT5 {
    padding-top: 0.83333% !important; }
  .spInner .pB5, .spInner .sp-pB5 {
    padding-bottom: 0.83333% !important; }
  .spInner .mT10, .spInner .sp-mT10 {
    margin-top: 1.66666% !important; }
  .spInner .mB10, .spInner .sp-mB10 {
    margin-bottom: 1.66666% !important; }
  .spInner .pT10, .spInner .sp-pT10 {
    padding-top: 1.66666% !important; }
  .spInner .pB10, .spInner .sp-pB10 {
    padding-bottom: 1.66666% !important; }
  .spInner .mT15, .spInner .sp-mT15 {
    margin-top: 2.49999% !important; }
  .spInner .mB15, .spInner .sp-mB15 {
    margin-bottom: 2.49999% !important; }
  .spInner .pT15, .spInner .sp-pT15 {
    padding-top: 2.49999% !important; }
  .spInner .pB15, .spInner .sp-pB15 {
    padding-bottom: 2.49999% !important; }
  .spInner .mT20, .spInner .sp-mT20 {
    margin-top: 3.33332% !important; }
  .spInner .mB20, .spInner .sp-mB20 {
    margin-bottom: 3.33332% !important; }
  .spInner .pT20, .spInner .sp-pT20 {
    padding-top: 3.33332% !important; }
  .spInner .pB20, .spInner .sp-pB20 {
    padding-bottom: 3.33332% !important; }
  .spInner .mT25, .spInner .sp-mT25 {
    margin-top: 4.16665% !important; }
  .spInner .mB25, .spInner .sp-mB25 {
    margin-bottom: 4.16665% !important; }
  .spInner .pT25, .spInner .sp-pT25 {
    padding-top: 4.16665% !important; }
  .spInner .pB25, .spInner .sp-pB25 {
    padding-bottom: 4.16665% !important; }
  .spInner .mT30, .spInner .sp-mT30 {
    margin-top: 4.99998% !important; }
  .spInner .mB30, .spInner .sp-mB30 {
    margin-bottom: 4.99998% !important; }
  .spInner .pT30, .spInner .sp-pT30 {
    padding-top: 4.99998% !important; }
  .spInner .pB30, .spInner .sp-pB30 {
    padding-bottom: 4.99998% !important; }
  .spInner .mT35, .spInner .sp-mT35 {
    margin-top: 5.83331% !important; }
  .spInner .mB35, .spInner .sp-mB35 {
    margin-bottom: 5.83331% !important; }
  .spInner .pT35, .spInner .sp-pT35 {
    padding-top: 5.83331% !important; }
  .spInner .pB35, .spInner .sp-pB35 {
    padding-bottom: 5.83331% !important; }
  .spInner .mT40, .spInner .sp-mT40 {
    margin-top: 6.66664% !important; }
  .spInner .mB40, .spInner .sp-mB40 {
    margin-bottom: 6.66664% !important; }
  .spInner .pT40, .spInner .sp-pT40 {
    padding-top: 6.66664% !important; }
  .spInner .pB40, .spInner .sp-pB40 {
    padding-bottom: 6.66664% !important; }
  .spInner .mT45, .spInner .sp-mT45 {
    margin-top: 7.49997% !important; }
  .spInner .mB45, .spInner .sp-mB45 {
    margin-bottom: 7.49997% !important; }
  .spInner .pT45, .spInner .sp-pT45 {
    padding-top: 7.49997% !important; }
  .spInner .pB45, .spInner .sp-pB45 {
    padding-bottom: 7.49997% !important; }
  .spInner .mT50, .spInner .sp-mT50 {
    margin-top: 8.3333% !important; }
  .spInner .mB50, .spInner .sp-mB50 {
    margin-bottom: 8.3333% !important; }
  .spInner .pT50, .spInner .sp-pT50 {
    padding-top: 8.3333% !important; }
  .spInner .pB50, .spInner .sp-pB50 {
    padding-bottom: 8.3333% !important; }
  .spInner .mT55, .spInner .sp-mT55 {
    margin-top: 9.16663% !important; }
  .spInner .mB55, .spInner .sp-mB55 {
    margin-bottom: 9.16663% !important; }
  .spInner .pT55, .spInner .sp-pT55 {
    padding-top: 9.16663% !important; }
  .spInner .pB55, .spInner .sp-pB55 {
    padding-bottom: 9.16663% !important; }
  .spInner .mT60, .spInner .sp-mT60 {
    margin-top: 9.99996% !important; }
  .spInner .mB60, .spInner .sp-mB60 {
    margin-bottom: 9.99996% !important; }
  .spInner .pT60, .spInner .sp-pT60 {
    padding-top: 9.99996% !important; }
  .spInner .pB60, .spInner .sp-pB60 {
    padding-bottom: 9.99996% !important; }
  .spInner .mT65, .spInner .sp-mT65 {
    margin-top: 10.83329% !important; }
  .spInner .mB65, .spInner .sp-mB65 {
    margin-bottom: 10.83329% !important; }
  .spInner .pT65, .spInner .sp-pT65 {
    padding-top: 10.83329% !important; }
  .spInner .pB65, .spInner .sp-pB65 {
    padding-bottom: 10.83329% !important; }
  .spInner .mT70, .spInner .sp-mT70 {
    margin-top: 11.66662% !important; }
  .spInner .mB70, .spInner .sp-mB70 {
    margin-bottom: 11.66662% !important; }
  .spInner .pT70, .spInner .sp-pT70 {
    padding-top: 11.66662% !important; }
  .spInner .pB70, .spInner .sp-pB70 {
    padding-bottom: 11.66662% !important; }
  .spInner .mT75, .spInner .sp-mT75 {
    margin-top: 12.49995% !important; }
  .spInner .mB75, .spInner .sp-mB75 {
    margin-bottom: 12.49995% !important; }
  .spInner .pT75, .spInner .sp-pT75 {
    padding-top: 12.49995% !important; }
  .spInner .pB75, .spInner .sp-pB75 {
    padding-bottom: 12.49995% !important; }
  .spInner .mT80, .spInner .sp-mT80 {
    margin-top: 13.33328% !important; }
  .spInner .mB80, .spInner .sp-mB80 {
    margin-bottom: 13.33328% !important; }
  .spInner .pT80, .spInner .sp-pT80 {
    padding-top: 13.33328% !important; }
  .spInner .pB80, .spInner .sp-pB80 {
    padding-bottom: 13.33328% !important; }
  .spInner .mT85, .spInner .sp-mT85 {
    margin-top: 14.16661% !important; }
  .spInner .mB85, .spInner .sp-mB85 {
    margin-bottom: 14.16661% !important; }
  .spInner .pT85, .spInner .sp-pT85 {
    padding-top: 14.16661% !important; }
  .spInner .pB85, .spInner .sp-pB85 {
    padding-bottom: 14.16661% !important; }
  .spInner .mT90, .spInner .sp-mT90 {
    margin-top: 14.99994% !important; }
  .spInner .mB90, .spInner .sp-mB90 {
    margin-bottom: 14.99994% !important; }
  .spInner .pT90, .spInner .sp-pT90 {
    padding-top: 14.99994% !important; }
  .spInner .pB90, .spInner .sp-pB90 {
    padding-bottom: 14.99994% !important; }
  .spInner .mT95, .spInner .sp-mT95 {
    margin-top: 15.83327% !important; }
  .spInner .mB95, .spInner .sp-mB95 {
    margin-bottom: 15.83327% !important; }
  .spInner .pT95, .spInner .sp-pT95 {
    padding-top: 15.83327% !important; }
  .spInner .pB95, .spInner .sp-pB95 {
    padding-bottom: 15.83327% !important; }
  .spInner .mT100, .spInner .sp-mT100 {
    margin-top: 16.6666% !important; }
  .spInner .mB100, .spInner .sp-mB100 {
    margin-bottom: 16.6666% !important; }
  .spInner .pT100, .spInner .sp-pT100 {
    padding-top: 16.6666% !important; }
  .spInner .pB100, .spInner .sp-pB100 {
    padding-bottom: 16.6666% !important; } }
