._2R00U0TIX0rPIfr1HH89GH {
  font-size: 20px; }

._3jXSZ6usVn2ckoQcYJ0v0k {
  font-size: 10px; }

._2lvpo17rEDJM8df_XmYqiQ {
  resize: none; }

._26i75REEnoT5kT1IduflCR {
  display: flex; }

.f1OKIGZuoM_iXDoNyE7x7 {
  margin-left: 5px; }

